*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
div img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
 div a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    color: brown;
    transform: scale(1.5);
    border-bottom: 1px solid salmon ;

 }


